.add-form-container {
  position: relative;
  display: block;
  width: 100%;
  border-radius: var(--roundness);
  background-color: white;
  font-size: 20px;
  font-weight: bolder;
  /* border: 2px solid #eee; */
  z-index: 9;
}

.menu-item {
  height: 350px;
}

.category {
  height: 250px;
}

.add-form-container:hover {
  cursor: pointer;
}

.add-form-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -99;
}

.edit-form-btns > * {
  margin-right: 1em;
}