.carousel-wrapper {
  box-sizing: border-box;
  padding: 20px 50px;
  padding-bottom: 60px;
  background-color: white;
  border-radius: var(--roundness);
}

.carousel-wrapper h1 {
  white-space: nowrap;
}

.rec-item-wrapper {
  padding: 20px !important;
}

.review {
  /* min-height: 120px; */
  margin-bottom: 20px;
}

.rec-pagination {
  display: none !important;
}

.review p {
  margin: 10px 0;
  text-align: left;
  text-align: center;
}

.rating {
  display: flex;
  justify-content: center;
  gap: 0.1em;
}

.neutral {
  filter: grayscale(100%);
}
