.cart-button-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 65px;
  aspect-ratio: 1;
  border-radius: 1000px;
  background-color: white;
  color: white;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 7px rgba(47, 47, 47, 0.1);
}

.cart-button-container img {
  height: 40%;
  margin: auto;
}
