:root {
  --container: 50%;
  --roundness: 7px;
  --step1: 1550px;
  --step2: 900px
}

@font-face {
  src: url("./src/public/font");
  font-family: "Ubuntu";
  font-style: normal;
}

body {
  font-family: "Ubuntu";
  margin: 0;
  background-color: whitesmoke;
}

@media screen and (max-width: 1550px) {
  :root {
    --container: 70%;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --container: 100%;
  }

  body {
    background-color: white;
  }
}