:root {
  --container: 50%;
  --roundness: 7px;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/src/public/font/Ubuntu-Regular.ttf");
  font-style: normal;
}

body {
  font-family: "Ubuntu";
  margin: 0;
  background-color: whitesmoke;
}

@media screen and (max-width: 1550px) {
  :root {
    --container: 70%;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --container: 100%;
  }

  body {
    background-color: white;
  }
}