.menu-item-container {
  position: relative;
  border-radius: var(--roundness);
  transition: 0.2s;
  font-weight: 500;
  height: 350px;
  font-weight: bold;
  color: white;
  background-color: white;
}

.menu-item-inner-container {
  padding: 50px 25px;
}

.menu-item-container:hover {
  box-shadow: 0 -1px 4px 0 rgba(144, 144, 144, 0.08), 0 6px 8px 0 rgba(87, 87, 87, 0.12);
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .menu-item-container * {
    font-size: 100%;
  }
}
