.metaContainer {
  font-weight: bold;
  border-radius: var(--roundness);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  justify-items: center;
  background-color: white;
  margin: 1em;
}

.metaContainer > div {
  display: grid;
  gap: 1em;
  margin: 2em 0;
  text-align: center;
}

.metaContainer b {
  font-size: 30px;
}
