.navigation-container {
  height: 150px;
  border-radius: var(--roundness);
  margin: 1em;
  background-color: aliceblue;
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .navigation-container {
    border-radius: unset;
    margin: 0;
    margin-bottom: 1em;
  }
}
