.orders {
  display: grid;
  gap: 1em;
  margin: 1em;
}

.orders .container-kds-incoming,
.orders .container-kds-inprep {
  display: grid;
  gap: 1em;
}

.container-kds-incoming {
  overflow: scroll;
  grid-auto-flow: column;
  padding-bottom: 1em;
  height: 540px;
}

.container-kds-incoming .orderCard {
  width: 300px;
  max-height: 500px;
  height: fit-content;
  overflow: scroll;
}

.container-kds-inprep {
  grid-template-columns: 1fr 1fr 1fr;
}

.container-kds-inprep .orderCard {
  height: fit-content;
  margin-bottom: 3em;
}
