table {
  width: calc(100% - 2em);
  table-layout: fixed;
  margin: 1em;
  box-sizing: border-box;
}

tbody {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

tr {
  width: 100%;
}

th,
td {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  color: black;
}

.sort-button {
  background-color: transparent;
  border: none;

  padding: 5px 10px;
  margin: 0;
  line-height: 1;
  font-size: 15px;
  color: black;
  cursor: pointer;

  transition: transform 0.05s ease-out;
}

.sort-reverse {
  transform: rotate(180deg);
}

.btn-primary {
  margin-left: 55px;
  margin-top: 11px;
}
