.welcome-container {
  width: var(--container);
  padding-bottom: 100px;
  margin: auto;
}

.welcome-box-container {
  box-sizing: border-box;
  margin: 1em;
  padding: 20px 50px;
  padding-bottom: 60px;
  background-color: white;
  border-radius: var(--roundness);
}

.welcome-box-container > p {
  line-height: 23px;
}

body {
  background-color: whitesmoke;
}

input:disabled {
  opacity: 0.6;
}

.error {
  color: rgb(180, 0, 0);
  font-size: 15px;
}
