.pin-form {
    margin: 1em;
    padding: 20px 50px;
    box-sizing: border-box;
    max-width: 600px;
    background-color: white;
    border-radius: var(--roundness);
}

body {
    background-color: whitesmoke;
}

input:disabled {
    opacity: 0.6;
}

.error {
    color: rgb(180, 0, 0);
    font-size: 15px;
}